:root {
    --form-font-size-xl: 1.5rem;
    --form-font-size-l: 1.25rem;
    --form-font-size-m: 1.125rem;
    --form-font-size-s: 1rem;
    --form-font-size-xs: 0.875rem;
    --form-font-size-xxs: 0.75rem;
    --form-font-family: var(--body-font-family);
    --form-container-padding: 0 1.5rem;
    --form-heading-font-size: 1.5rem;
    --form-heading-font-weight: 700;
    --form-heading-line-height: 2rem;
    --form-heading-letter-spacing: .0225rem;
    --form-heading-margin: 0 0 2rem;
    --form-wrapper-margin: 0;
    --form-wrapper-padding: 3.4375rem;
    --form-wrapper-max-width: unset;
    --form-columns: 1;
    --form-padding: 0;
    --form-max-width: 100%;
    --form-grid-gap: 0 30px;
    --form-fieldset-border: 0;
    --form-fieldset-margin: 0;
    --form-fieldset-padding: 0;
    --form-fieldset-columns: 1;
    --form-fieldset-grid-gap: var(--form-grid-gap);
    --form-fieldset-legend-color: var(--clr-black, #000);
    --form-fieldset-legend-font-weight: 400;
    --form-fieldset-legend-padding: 0 0 0.5rem 0;
    --form-fieldset-legend-line-height: 2rem;
    --form-fieldset-legend-font-size: var(--form-font-size-m);
    --form-fieldset-legend-font-family: var(--form-font-family);
    --form-label-color: var(--clr-black, #666);
    --form-label-font-size: var(--form-font-size-xxs);
    --form-label-font-weight: 400;
    --form-label-line-height: 1.125rem;
    --form-label-letter-spacing: .0075rem;
    --form-label-font-family: var(--form-font-family);
    --form-input-height: 40px;
    --form-input-margin: 0.5rem 0 0 0;
    --form-input-padding: 0.85rem 0.5rem 0.85rem 1rem;
    --form-input-font-size: .875rem;
    --form-input-line-height: 1.125rem;
    --form-input-font-family: var(--form-font-family);
    --form-input-border: 1px solid #666;
    --form-input-background-color: #fff;
    --form-desc-color: #969696;
    --form-desc-padding: 10px;
    --form-desc-margin: 10px 0 5px 0;
    --form-desc-background-color: #e6e6e6;
    --form-output-margin: 0;
    --form-output-padding: 0;
    --form-output-font-size: 1rem;
    --form-output-line-height: 1.25rem;
    --form-output-font-weight: 700;
    --form-output-font-family: var(--form-font-family);
    --form-submit-wrapper-margin: 0;
    --form-error-color: var(--clr-danger, red)
}

main .section.form-container {
    padding: var(--form-container-padding);
}

main .form-container .default-content-wrapper {
    max-width: var(--form-wrapper-max-width);
}

main .form-container .default-content-wrapper h2 {
    font-size: var(--form-heading-font-size);
    line-height: var(--form-heading-line-height);
    font-weight: var(--form-heading-font-weight);
    letter-spacing: var(--form-heading-letter-spacing);
    margin: var(--form-heading-margin);
}

main .form-container > .form-wrapper {
    margin: var(--form-wrapper-margin);
    max-width: var(--form-wrapper-max-width);
}

main .form > div:not(:first-child) {
    display: none;
}

main .form form {
    display: grid;
    grid-template-columns: repeat(var(--form-columns), minmax(0, 1fr));
    gap: var(--form-grid-gap);
    padding: var(--form-padding);
    max-width: var(--form-max-width);
}

main .form fieldset {
    display: grid;
    align-content: flex-start;
    gap: var(--form-fieldset-grid-gap);
    grid-template-columns: repeat(var(--form-fieldset-columns), minmax(0, 1fr));
    border: var(--form-fieldset-border);
    margin: var(--form-fieldset-margin);
    padding: var(--form-fieldset-padding);
}

main .form fieldset > legend {
    padding: var(--form-fieldset-legend-padding);
    font-family: var(--form-fieldset-legend-font-family);
    font-weight: var(--form-fieldset-legend-font-weight);
    font-size: var(--form-fieldset-legend-font-size);
    line-height: var(--form-fieldset-legend-line-height);
    margin: unset;
}

main .form label {
    font-family: var(--form-label-font-family);
    font-weight: var(--form-label-font-weight);
    font-size: var(--form-label-font-size);
    color: var(--form-label-color);
    line-height: var(--form-label-line-height);
}

main .form input[type='checkbox'] {
    display: inline-block;
    margin-right: 0.5rem;
    width: 15px;
    height: 15px;
}

main .form .form-select-wrapper.field-wrapper select {
    padding-top: 0;
    padding-bottom: 0;
}

main .form :is(input, textarea, select):not([type='checkbox']) {
    width: 100%;
    background-color: var(--form-input-background-color);
    border: var(--form-input-border);
    height: var(--form-input-height);
    padding: var(--form-input-padding);
    margin: var(--form-input-margin);
    font-size: var(--form-input-font-size);
    font-family: var(--form-input-font-family);
    letter-spacing: .0138rem;
    max-width: unset;
    border-radius: .25rem;
    color: #000048;
    display: block;
}

main .form textarea {
    --form-input-height: 8rem;

    resize: vertical;
}

main .form .field-description {
    font-size: var(--form-font-size-xs);
    color: var(--form-desc-color);
    background-color: var(--form-desc-background-color);
    margin: var(--form-desc-margin);
    padding: var(--form-desc-padding);
}

main .form .form-output-wrapper {
    --form-label-font-size: .875rem;
    --form-label-line-height: 1.125rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

main .form form [data-hidden='true'] {
    display: none !important;
}

main .form .field-invalid {
    color: var(--form-error-color);
    font-size: var(--form-font-size-xs);
    font-weight: bold;
}

main .form output {
    padding: var(--form-output-padding);
    margin: var(--form-output-margin);
    font-size: var(--form-output-font-size);
    font-family: var(--form-output-font-family);
    line-height: var(--form-output-line-height);
    font-weight: var(--form-output-font-weight);
}

main .form .form-radio-wrapper {
    display: inline-flex;
    align-items: baseline;
}

main .form .form-radio-wrapper label {
    --form-label-line-height: 1.5;
    --form-label-font-size: var(--form-font-size-s);

    margin: 0 0 0.5rem;
    padding: 0 0 0 0.5rem;
}

main .form input[type='radio'] {
    width: 13px;
    height: 13px;
    flex-shrink: 0;
}

main .form-submit-wrapper {
    margin: var(--form-submit-wrapper-margin);
    grid-column: 1/-1;
}

main .form .form-currency-wrapper .currency-input-wrapper {
    position: relative;
}

main .form :is(input:not([type='radio'], [type='checkbox']), textarea, select):last-child {
    margin-bottom: 1.5rem;
}

main .wizard .form-submit-wrapper,
main .wizard .form-wizard-button {
    --form-button-padding: 15px;

    width: 140px;
    margin: 0 10px 0 0;
    display: inline-block;
}

main .wizard .form-submit-wrapper {
    display: none;
}

@media (min-width: 768px) {
    :root {
        --form-input-margin: 0.5rem 0 1.5rem 0;
        --form-columns: 1;
        --form-fieldset-columns: 1;
    }
}

@media (min-width: 992px) {
    :root {
        --form-container-padding: 0 6rem;
        --form-heading-font-size: 3.5rem;
        --form-heading-line-height: 4.5rem;
        --form-heading-letter-spacing: -.0525rem;
        --form-heading-margin: 0 0 4rem;
        --form-label-font-size: var(--form-font-size-m);
        --form-label-line-height: 1.625rem;
        --form-label-letter-spacing: .0112rem;
        --form-input-font-size: 1.375rem;
        --form-input-line-height: 2rem;
        --form-output-font-size: 1.625rem;
        --form-output-line-height: 2.375rem;
    }
}

main .form form > .form-panel-wrapper{
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0 0 0 /15%);
}

main .form form > .form-panel-wrapper > legend{
  float: left;
  font-weight: 600;
  font-size: var(--body-font-size-xl);
}

main .form .form-checkbox-wrapper, main .form .form-radio-wrapper{
  display: flex;
  align-items: center;
  gap: 12px;
  margin: var(--form-input-margin);
  flex-wrap: wrap;
}

main .form .form-checkbox-wrapper input, main .form .form-radio-wrapper input{
  height: 24px;
  width: 24px;
  margin: 0;
}

main .form .form-checkbox-wrapper label, main .form .form-radio-wrapper label{
  flex: 1;
}

main .form .form-checkbox-wrapper .field-description, main .form .form-radio-wrapper .field-description{
  flex-basis: 100%;
}

main .form .field-wrapper[data-required] label::after{
  content: '*';
  color: var(--clr-danger, red);
  padding-left: 3px;
}

main .form .form-radio-wrapper[data-required] label::after{
  content: '';
}

.form-button-wrapper > button{
  font-size: var(--body-font-size-xl);
}

.form-fieldset-wrapper.form-fieldset-border-right{
  border-right: 0.0625rem solid var(--clr-gray-dark);
  padding-inline-end: 1rem;
}
